/* ========== COLORS ========== */

$body_pink: #cd65a2;
$panel: #fdf4f7;
$nav_rest: #ebb0c4;
$nav_hover: #CF69AB;


/* ========== GLOBAL VARIABLES ========== */

$test_opacity: 0.375;
$test_blend: difference;


/* ====================================== */
/* ========== GLOBAL / GENERIC ========== */
/* ====================================== */

$page_width: 1300px;
$page_height: 4470px;

$page_width_m: 640px;
$page_height_m: 6800px;

$mobile: "(min-width: 0px) and (max-width: 640px)";
$tablet_desktop: "(min-width: 640px) and (max-width: 1300px)";
$desktop_n_up: "(min-width: 1300px)";

html, body {
	// border: 02px solid #FF0000 !important;

	// opacity: $test_opacity;
	// mix-blend-mode: $test_blend;

	color: $body_pink;

	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	line-height: 100%;

	width: 100%;
	max-width: 1300px;
	height: $page_height + 1000px;

	margin: 0 auto;
	padding: 0;

	scroll-behavior: smooth;

	// @media #{$mobile} {
	// 	font-size: 1vw;
	// 	text-align: center;

	// 	// height: $page_height_m;
	// 	height: $page_height_m / $page_width_m * 100vw;
	// }

	// @media #{$tablet_desktop} {
	// 	font-size: 1.25vw;

	// 	// height: $page_height / $page_width * 100vw;
	// 	height: calc(($page_height / $page_width * 100vw) + 1000px);
	// }

	// @media #{$desktop_n_up} {
	// 	font-size: 16px;
	// }
}

body * {
	// border: 02px solid #FF0000 !important;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

button {
	background: white;
	border: 02px solid $nav_hover;

	color: $nav_hover;

	font-weight: bold;
	// font-size: 14px;
	// line-height: 30px;
	font-size: 0.875em;
	line-height: 1em;
	letter-spacing: 1px;

	text-transform: uppercase;

	// width: 272px;
	// height: 38px;

	// margin: 11px 100px;
	// padding: 0;

	cursor: pointer;
	outline: none;

	&:hover {
		color: white;
		background: $nav_hover;
	}
}


.dummyContainer {
	// border: 02px solid #FF0000 !important;

	width: inherit;
	height: inherit;

	// background-image: url("../img/maternity_desktop.jpg");
	// background-repeat: no-repeat;
	// background-position: top center;
	// // background-attachment: local;
	// // background: #FF00FF;

	background-repeat: no-repeat;
	background-position: center top;
	background-size: contain;

	// @media #{$mobile} {
	// 	background-image: url("../img/maternity_mobile.jpg");
	// 	background-size: cover;
	// }

	// // @media #{$mobile} and (max-width: 576px) {
	// // 	background-size: contain;
	// // }

	// @media #{$tablet_desktop} {
	// 	background-image: url("../img/maternity_desktop.jpg");
	// }

	// @media #{$desktop_n_up} {
	// 	background-image: url("../img/maternity_desktop.jpg");
	// }
}


/* ========== EMPTY CONTAINERS ========== */

.emptyContainer {
	// border: 02px solid #FF0000 !important;
	// background: red;
	// opacity: $test_opacity;
	// mix-blend-mode: $test_blend;

	width: 100%;
	height: 0;
	// height: 103px / $page_height_m * 100;

	// padding-top: 200px;

	visibility: hidden;
	// display: none;

	// @media #{$mobile} {
	// 	// height: 103px;
	// 	height: 103 / 640 * 100vw;
	// 	// visibility: visible;
	// 	display: block;
	// }
}

$anchor_height: 66/1300 * 100vw;
// $anchor_marginTop: 66/1300 * 100vw;
$anchor_marginTop: 90/1300 * 100vw;

#triAnchor01 {
	// border: 02px solid #FF0000 !important;

	// height: 66px;
	// margin-top: -90px;

	height: $anchor_height;
	margin-top: -$anchor_marginTop;

	visibility: visible;
}

#triAnchor02, #triAnchor03, #postPregAnchor01 {
	// border: 02px solid #FF0000 !important;

	height: $anchor_height;
	margin-top: -$anchor_height;

	visibility: visible;
}


/* ========== NAV CONTAINER ========== */

$nav_width: 943/1300 * 100%;
// $nav_height: 95 / 1300 * 100vw;
$nav_height: calc(95 / 1300 * 100vw);

// $nav_top: 0px;
$nav_top: 70 / 1300 * 100vw;

$navItem_width: 230/943 * 100%;
// $navItem_height: 80px;
// $navItem_height: 80 / 1300 * 100vw;
$navItem_height: calc(80 / 1300 * 100vw);

$grid_gap: 8/943 * 100%;


@keyframes navTranslate {
	0%   {transform: translateX(0px);}
	25%  {transform: translateX(238px);}
	50%  {transform: translateX(476px);}
	100% {transform: translateX(714px);}
}

@-webkit-keyframes navTranslate {
	0%   {transform: translateX(0px);}
	25%  {transform: translateX(238px);}
	50%  {transform: translateX(476px);}
	100% {transform: translateX(714px);}
}

.navContainer {
	// border: 02px solid #FF0000 !important;

	// opacity: $test_opacity;
	// mix-blend-mode: $test_blend;
	// mix-blend-mode: multiply;

	text-align: center;
	font-size: 0.875em;
	// font-size: 0.8125vw;
	font-weight: bold;
	text-transform: uppercase;

	width: $nav_width;
	// height: $nav_height;
	// height: 50px;

	// margin: $nav_top auto 0 auto;
	margin: -7.375% auto 0 auto;
	// margin: -27.375% auto 0 auto;

	position: sticky;
	top: 0;
	// top: $nav_top;

	z-index: 995;

	.navActiveContainer {
		// border: 02px solid #00FF00 !important;

		// opacity: $test_opacity;
		// mix-blend-mode: $test_blend;

		width: $navItem_width;
		// height: 95px;
		// height: inherit;

		// display: grid;
		// // grid: 95px / 24.39% 24.39% 24.39% 24.39%;
		// grid: $nav_height / $navItem_width $navItem_width $navItem_width $navItem_width;
		// grid-gap: $grid_gap;

		position: absolute;
		top: 0;
		left: 0;

		z-index: 994;

		#NAV_btn_active {
			width: 100%;
			// width: $navItem_width;
			// height: inherit;
			// height: $nav_height;

			// visibility: hidden;
		}
	}

	.navItemContainer {
		// border: 02px solid #0000FF !important;

		// opacity: $test_opacity;
		// mix-blend-mode: $test_blend;

		width: 100%;
		// height: 50%;
		// height: inherit;
		// height: $navItem_height;


		display: grid;
		// grid: 80px / 24.39% 24.39% 24.39% 24.39%;
		grid: $navItem_height / $navItem_width $navItem_width $navItem_width $navItem_width;
		grid-gap: $grid_gap;

		// margin: -10% auto 0 auto;
		position: absolute;

		z-index: 997;

		// a {
		// 	text-decoration: none;

			.navItem {
				// border: 02px solid #FF00FF !important;

				background: $nav_rest;

				color: white;
				text-decoration: none;

				padding: 10% 0;
				display: table-cell;

				cursor: pointer;

				&:hover {
					background: $nav_hover;
				}

				// &:active {
				// 	background-image: url("../img/NAV_btn_active.svg");
				// }
			}
		// }

		span {
			text-transform: initial;
		}
	}

	// @media #{$mobile} {
	// 	visibility: hidden;
	// }

	// @media #{$desktop_n_up} {

	// 	height: 95px;

	// 	margin: -5.5% auto 0 auto;

	// 	.navItemContainer {
	// 		// height: 80px;
	// 		grid: 80px / 24.39% 24.39% 24.39% 24.39%;

	// 		margin: -95px auto 0 auto;
	// 	}
	// }
}


/* ========== HERO CONTAINER ========== */

$btnContainer_height_m: 870 / 640 * 100vw;

.heroContainer {
	// border: 02px solid #FF0000 !important;

	// opacity: $test_opacity;
	// mix-blend-mode: $test_blend;

	background-repeat: no-repeat;
	background-position: center top;
	background-size: contain;

	text-align: center;

	width: 100%;
	max-width: inherit;
	// width: 1300px;
	// max-width: 1300px;
	height: 560px;
	// height: 12.527964205816555%;
	// height: 560px / $page_height * 100%;
	// height: $hero_height;

	margin: 0 auto;
	padding: 0;

	overflow: hidden;

	z-index: 990;

	.heroBody {
		// border: 01px solid #00FF00 !important;
		// border: 01px solid #000000 !important;

		// color: black;

		// width: auto;
		// height: auto;
		width: 925px/$page_width * 100%;
		// height: $hero_height;

		// // margin: 75px 505px 0 135px;
		// margin: 13.39% 38.85% 0 10.38%;
		// margin: 0 0 0 $margin_left;
		// margin: 0 auto;
		// margin-left: $margin_left;
		// margin: auto 0;
		margin-top: 5.75%;
		// padding: 0;

		h1 {
			// border: 01px solid #00FF00 !important;

			font-family: Helvetica, Arial, sans-serif;
			font-weight: 200;
			// font-size: 60px;
			// line-height: 57px;
			font-size: 3.75em;
			line-height: 0.96875em;
			letter-spacing: 2px;

			text-transform: uppercase;

			margin: 0;
			padding: 0;

			span {
				font-weight: 900;
				letter-spacing: 3px;
			}

			// @include for-phone-only {    
			// 	font-size: 1em;
			// }
		}

		p {
			// border: 01px solid #00FF00 !important;

			// font-size: 18px;
			// line-height: 24px;
			font-size: 1.125em;
			line-height: 1.25em;
			letter-spacing: 1px;

			margin: 3% 0 3.75% 0;
			padding: 0;
		}

		button {
			width: 30%;

			margin: 1.25% 10%;
			padding: 1.125% 0;
		}
	}

	.btnContainer_m {
		visibility: hidden;
	}

	// @media #{$mobile} {
		// background-image: url("../img/banner-mobile.jpg");

		// // height: 870 / 640 * 100vw;
		// height: $btnContainer_height_m;

		// .heroBody {
		// 	// border: 01px solid #00FF00 !important;
		// 	// border: 01px solid #000000 !important;

		// 	// font-size: 1.875vw;
		// 	font-size: 1.75vw;
		// 	// line-height: 5vw;

		// 	// width: 325px/$page_width_m * 100%;
		// 	width: 330px/$page_width_m * 100%;
		// 	height: 60%;

		// 	margin-top: 23.75%;
		// 	// margin-bottom: 20%;

		// 	h1 {
		// 		// border: 01px solid #00FF00 !important;

		// 		// font-family: Helvetica, Arial, sans-serif;
		// 		// font-weight: 200;
		// 		// font-size: 3.75em;
		// 		line-height: 1.0625em;
		// 		// letter-spacing: 2px;

		// 		text-transform: uppercase;

		// 		margin: 0;
		// 		padding: 0;

		// 		span {
		// 			font-weight: 900;
		// 			letter-spacing: 3px;
		// 		}
		// 	}

		// 	p {
		// 		// border: 01px solid #00FF00 !important;

		// 		font-size: 4vw;
		// 		line-height: 1.15em;
		// 		letter-spacing: 0.75px;

		// 		// margin: 5.5% 10%;
		// 		margin: 5.5% 10% 0 10%;
		// 		padding: 0;
		// 	}
		// }

		// .btnContainer {
		// 	visibility: hidden;
		// }

		// .btnContainer_m {
		// 	// border: 02px solid #FF0000 !important;

		// 	visibility: visible;

		// 	// margin: 25% auto 0 auto;
		// 	// margin: $btnContainerTop_m auto 0 auto;

		// 	button {
		// 		border: 1px solid $nav_hover;

		// 		font-weight: normal;
		// 		font-size: 4vw;

		// 		width: 95%;

		// 		margin: 1.25% 0;
		// 		padding: 3.75% 0;
		// 	}
		// }
	// }

	// @media #{$tablet_desktop} {
		// background-image: url("../img/banner-background.jpg");

		// // height: $hero_height;
		// height: 560/1300 * 100vw;
	// }

	// @media #{$desktop_n_up} {
		// background-image: url("../img/banner-background.jpg");
	// }
}


/* ========== BODY CONTAINER ========== */

$body_width: $page_width;
$body_height: 3910px;

// $body_top: 8px;
// $body_top: 9/1300 * 100vw;
$body_top: 24/1300 * 100vw;

.bodyContainer {
	// border: 02px solid #FF0000 !important;
	// border: 05px solid #00FF00 !important;

	// opacity: $test_opacity;
	// mix-blend-mode: $test_blend;

	width: 100%;
	max-width: 1300px;
	// height: 100%;
	// height: 4469px;
	// height: $body_height;
	height: $body_height / 1300px * 100vw;

	// margin: -22px auto;
	// margin: -14px auto;
	// margin: -8px auto;
	margin: -$body_top auto;
	padding: 0;

	// @media #{$desktop_n_up} {
	// 	height: $body_height;
	// 	margin: -8px auto;
	// }
}


/* ========== TRIMESTER CONTAINERS ========== */

$triContainer_height: 870px;
$triHed_top: 40/1300 * 100vw;
$triBody_top: 40/1300 * 100vw;
$triNavContainer_top: 40/1300 * 100vw;

.triContainer {
	// border: 02px solid #0000FF !important;

	// opacity: $test_opacity;
	// mix-blend-mode: $test_blend;

	// color: blue;

	letter-spacing: 2px;

	// width: inherit;
	// max-width: inherit;
	// height: 872px;
	// height: 872px;
	// height: 872px / $body_height * 100%;
	// height: $triContainer_height / $body_height * 100%;
	// height: calc($triContainer_height / 1300 * 100vw);
	// height: 100px;
	
	margin: 0 auto;
	padding: 0;

	overflow: auto;

	.triHed {
		// border: 01px solid #00FF00 !important;

		text-align: center;
		text-transform: uppercase;

		margin: inherit;
		// margin: 30px auto 0 auto;
		// padding: inherit;
		// padding: 40px 0 0 0;
		padding: $triHed_top 0 0 0;

		// position: relative;
		// top: 54px;

		// @media #{$mobile} {
			// width: 80%;
			// margin: 0 auto;
		// }

		// @media #{$desktop_n_up} {
			// padding: 40px 0 0 0;
		// }
		
		h1 {
			// border: 01px solid #00FF00 !important;
			// border: 01px solid #000000 !important;

			font-family: Helvetica, Arial, sans-serif;
			font-weight: 100;
			// font-size: 3.125em;
			// line-height: 0.625em;
			// letter-spacing: 5px;
			font-size: 4vw;
			line-height: 2.75vw;
			letter-spacing: 0.2875vw;

			// height: 70px;

			margin: 0;
			padding: 0;

			span {
				font-weight: 900;
			}

			// @media #{$mobile} {
				// font-size: 10vw;
				// line-height: 9vw;
				// letter-spacing: 1vw;
				// margin-top: -3.75%;
			// }
			
			// @media #{$desktop_n_up} {
				// font-size: 3.125em;
				// line-height: 0.65em;
				// letter-spacing: 5px;
			// }
		}

		h2 {
			// border: 01px solid #00FF00 !important;
			// border: 01px solid #000000 !important;

			font-size: 1em;
			font-weight: 900;
			letter-spacing: 0.125vw;

			// @media #{$mobile} {
				// font-size: 4vw;
				// line-height: 4vw;
				// // letter-spacing: 0.0625vw;
				// // height: 20px;
			// }

			// @media #{$desktop_n_up} {
				// letter-spacing: 1px;
			// }
		}
		
		.triNavContainer {
			// border: 01px solid #FF0000 !important;

			font-weight: 900;
			font-size: 0.875em;
			letter-spacing: 1px;

			text-align: center;
			text-transform: uppercase;

			width: 35%;
			height: 10px;

			// margin: inherit;
			// margin: 0 auto;
			// padding: inherit;
			margin: $triNavContainer_top auto 0 auto;
			padding: 0;

			display: grid;
			grid: 20px / auto auto auto auto;

			// @media #{$mobile} {
				// visibility: hidden;
			// }
			
			// @media #{$desktop_n_up} {
				// font-size: 0.875em;
				// letter-spacing: 1px;

				// margin: 0 auto;
				// padding: inherit;
			// }
		}
	}

	.triBody {
		// border: 02px solid #0000FF !important;

		width: 57%;
		// height: 625px;
		// height: 625px / $triContainer_height * 100vw;
		height: 625px / $triContainer_height * 100%;
		// height: 625 / 1300 * 100vw;
		// height: 10px;

		// margin: inherit;
		// margin: 35px auto 0 auto;
		margin: $triBody_top auto 0 auto;
		padding: inherit;

		position: relative;
		// top: 90px;

		// @media #{$mobile} {
			// width: 80%;
			// height: 69%;
			// margin: -1.25% auto;
		// }
		
		// @media #{$desktop_n_up} {
			// margin: 45px auto 0 auto;
		// }
		
		p {
			// border: 01px solid #0000FF !important;

			color: black;

			// font-size: 0.875em;
			// line-height: 1.4875em;
			// letter-spacing: 0.4625px;
			font-size: 1.125vw;
			line-height: 1.55vw;
			letter-spacing: 0.0125vw;

			width: 40%;

			margin: 0;
			padding: 0;

			// @media #{$mobile} {
				// font-size: 3.75vw;
				// line-height: 4.25vw;

				// width: 100%;
			// }
			
			// @media #{$desktop_n_up} {
				// font-size: 0.875em;
				// line-height: 1.4875em;
				// letter-spacing: 0.4625px;
			// }
		}
	}

	button {
		visibility: hidden;

		font-size: 4vw;

		// width: 95%;
		width: 93.75%;

		// margin: 1.25% 0;
		margin-top: 8.75%;
		padding: 3.75% 0;

		// @media #{$mobile} {
			// visibility: visible;
		// }
	}
}

#triContainer01 {
	// border: 01px solid #FF0000 !important;

	// opacity: $test_opacity;
	// mix-blend-mode: $test_blend;

	background: white;

	// height: 870px;
	height: 870px / $body_height * 100%;

	// margin: -1.775% 0 0 0;
	// margin-top: -80px;
	// padding-top: 80px;

	// @media #{$mobile} {
		// height: 1185 / 640 * 100vw;
	// }

	#tri01_01 {
		// width: 335/740;
		width: 45.27027027027027%;
		height: auto;

		position: absolute;
		top: 24%;
		left: 0;

		// @media #{$mobile} {
			// visibility: hidden;
		// }
		
		// @media #{$desktop_n_up} {
			// top: 150px;
		// }
	}

	#tri01_02 {
		// border-left: 2px #FF0000 outset;
		// border-left: 5px black outset;
		// opacity: 0.5;

		// background: $nav_rest;

		// width: 415/740;
		width: 56.081081081081081%;
		height: auto;

		// padding: 0 0 0 2.409638554216867%;
		padding: 0 0 0 1.204819277108434%;

		position: absolute;
		top: 0;
		right: 0;

		// @media #{$mobile} {
			// width: 93%;

			// top: 15.5%;
			// right: 2.5%;
		// }
	}

	// &::before {
	// 	height: 50px;
	// 	margin-top: -50px;
	// 	padding-top: 50px;
	// 	display: block;
	// 	content: '';
	// }
}

#triContainer02 {
	// border: 01px solid #FF0000 !important;
	// border: 01px solid #000000 !important;

	// opacity: $test_opacity;
	// mix-blend-mode: $test_blend;

	background: $panel;

	// height: 904px;
	height: 910px / $body_height * 100%;

	// position: relative;
	// top: -125px;

	p {
		// border: 01px solid #FF0000 !important;

		width: 31.25%;

		position: absolute;
		top: 4%;
		right: 5%;

		// @media #{$mobile} {
			// width: 100%;
			// margin: -7.5% auto 0 auto;
			// padding: 0;
		// }
		
		// @media #{$desktop_n_up} {
			// top: 4.5%;
		// }
	}

	#tri02_01 {
		// opacity: 0;

		// width: 415/740;
		width: 56.081081081081081%;
		height: auto;

		position: absolute;
		// top: 0;
		// left: 0;
		top: 0.75%;
		left: 0.625%;

		// @media #{$mobile} {
			// width: 95%;

			// top: 15.5%;
			// right: 2.5%;
		// }
	}

	#tri02_02 {
		// border-left: 5px black outset;
		// opacity: 0;

		// background: $nav_rest;

		// width: 330/740;
		width: 44.594594594594595%;
		height: auto;

		// padding: 0 0 0 2.409638554216867%;
		// padding: 0 0 0 1.204819277108434%;

		position: absolute;
		// top: 28.787878787878788%;
		// top: 29.625%;
		top: 27.5%;
		right: 0;

		// @media #{$mobile} {
			// visibility: hidden;
		// }
		
		// @media #{$desktop_n_up} {
			// top: 28.75%;
		// }
	}
}

#triContainer03 {
	// border: 01px solid #FF0000 !important;

	// opacity: $test_opacity;
	// mix-blend-mode: $test_blend;

	background: white;

	// height: 880px;
	height: 880px / $body_height * 100%;

	// position: relative;
	// top: -140px;

	.triHed {
		margin: -0.5% auto 0 auto;
	}

	#triNavContainer03 {
		width: 48.75%;

		// margin: $triNavContainer_top auto 0 auto;
		// padding: 0;
	}

	// p {
	// 	// border: 01px solid #FF0000 !important;
	// 	margin-top: -0.0125%;
	// }

	#tri01_01 {
		// width: 335/740;
		width: 45.27027027027027%;
		height: auto;

		position: absolute;
		top: 23.75%;
		left: 0;

		// @media #{$mobile} {
			// visibility: hidden;
		// }
		
		// @media #{$desktop_n_up} {
			// top: 150px;
		// }
	}

	#tri01_02 {
		// border-left: 5px black outset;
		// opacity: 0.5;

		// background: $nav_rest;


		// /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/rgba(255, 255, 255, 0)+0,ffffff+10,2989d8+10,207cca+90,ffffff+90,ffffff+100 */
		// background: rgba(255, 255, 255, 0); /* Old browsers */
		// background: -moz-linear-gradient(top,  rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1.5%, $nav_rest 1.5%, $nav_rest 97.5%, rgba(255, 255, 255, 0) 97.5%, rgba(255, 255, 255, 0) 100%); /* FF3.6-15 */
		// background: -webkit-linear-gradient(top,  rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0) 1.5%,$nav_rest 1.5%,$nav_rest 97.5%,rgba(255, 255, 255, 0) 97.5%,rgba(255, 255, 255, 0) 100%); /* Chrome10-25,Safari5.1-6 */
		// background: linear-gradient(to bottom,  rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0) 1.5%,$nav_rest 1.5%,$nav_rest 97.5%,rgba(255, 255, 255, 0) 97.5%,rgba(255, 255, 255, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(255, 255, 255, 0)', endColorstr='rgba(255, 255, 255, 0)',GradientType=0 ); /* IE6-9 */

		// width: 415/740;
		width: 56.081081081081081%;
		height: auto;

		// padding: 0 0 0 2.409638554216867%;
		padding: 0 0 0 1.204819277108434%;

		position: absolute;
		top: 0;
		right: 0;
	}
}


// @media #{$mobile} {
	// .triContainer {
	// 	// border: 02px solid #0000FF !important;

	// 	// opacity: $test_opacity;
	// 	// mix-blend-mode: $test_blend;

	// 	height: 1185 / 640 * 100vw !important;

	// 	.triHed {
	// 		// border: 01px solid #FF0000 !important;

	// 		width: 100%;
	// 		height: auto;

	// 		margin: 7.5% 0 0 0;
	// 		padding: 0;

	// 		h1 {
	// 			// border: 01px solid #0000FF !important;

	// 			font-size: 10vw !important;
	// 			line-height: 9.5vw !important;
	// 			letter-spacing: 1.25vw !important;
	// 			// margin-top: -2% !important;
	// 			margin-top: -1% !important;
	// 		}

	// 		h2 {
	// 			// border: 01px solid #0000FF !important;

	// 			font-size: 4vw !important;
	// 			height: 20% !important;
	// 			margin-top: 4.75%;

	// 			position: relative;
	// 			top: -0.4%;
	// 		}

	// 		.triNavContainer {
	// 			// visibility: hidden;
	// 			display: none !important;
	// 		}
	// 	}

	// 	.triBody {
	// 		// border: 01px solid #0000FF !important;

	// 		width: 100% !important;
	// 		// height: 71.25% !important;
	// 		height: 80% !important;

	// 		// margin: 2.5% 0 0 0 !important;
	// 		margin: 3% 0 0 0 !important;
	// 		padding: 0;

	// 		p {
	// 			font-size: 3.75vw !important;
	// 			line-height: 4.25vw !important;

	// 			width: 80% !important;

	// 			margin: 0 auto !important;
	// 			padding: 0 !important;
	// 		}

	// 		img {
	// 			width: 74.5% !important;
	// 			// width: 75% !important;
	// 			// height: 75% !important;

	// 			margin: 0 auto !important;

	// 			// top: 13.75% !important;
	// 			// left: 12.5% !important;
	// 		}

	// 		button {
	// 			visibility: visible;

	// 			// border: 01px solid #0000FF !important;
	// 			border: 1px solid $nav_hover;
	// 			font-weight: normal;

	// 			// margin: 0 auto !important;
	// 			margin: 118.75% auto 0 auto !important;
	// 		}
	// 	}
	// }

	// #triContainer01 {
	// 	img {
	// 		// width: 80% !important;
	// 		// margin-left: 7.5%;
	// 		// margin: -6.5% auto 0 1.25%;
	// 		top: 13.75% !important;
	// 		left: 0;
	// 	}
	// }

	// #triContainer02 {
		// border: 02px solid #0000FF !important;

		// opacity: $test_opacity;
		// mix-blend-mode: $test_blend;

		// .triHed {
		// 	// border: 01px solid #FF0000 !important;

		// 	margin-top: 11.25%;
		// }

		// .triBody {
		// 	// border: 01px solid #FF0000 !important;

		// 	p {
		// 		// margin-top: -3% !important;
		// 		// margin: -3% auto 0 -5% !important;
		// 		margin: -6% 5% 0 auto !important;
		// 	}

		// 	img {
		// 		width: 75.125% !important;
		// 		// margin-left: 7.5%;
		// 		// margin: -6.5% auto 0 1.25%;
		// 		top: 11.25% !important;
		// 		left: 13.5% !important;
		// 	}

		// 	button {
		// 		margin: 133% auto 0 auto !important;
		// 	}
		// }
	// }

	// #triContainer03 {
	// 	// border: 02px solid #0000FF !important;

	// 	// opacity: 0.5;
	// 	// opacity: $test_opacity;
	// 	// mix-blend-mode: $test_blend;

	// 	// height: 1205 / 640 * 100vw !important;
	// 	height: 1215 / 640 * 100vw !important;

	// 	.triHed {
	// 		// border: 01px solid #FF0000 !important;

	// 		margin-top: 11.25%;
	// 	}

	// 	.triBody {
	// 		// border: 01px solid #FF0000 !important;

	// 		// p {
	// 		// 	// margin-top: -3% !important;
	// 		// 	// margin: -3% auto 0 -5% !important;
	// 		// 	margin: -6% 5% 0 auto !important;
	// 		// }

	// 		img {
	// 			// width: 72% !important;
	// 			// // margin-left: 7.5%;
	// 			// // margin: -6.5% auto 0 1.25%;
	// 			top: 13.5% !important;
	// 			left: 0 !important;
	// 		}

	// 		// button {
	// 		// 	margin: 133% auto 0 auto !important;
	// 		// }
	// 	}
	// }
// }


/* ========== POST PREGNANCY CONTAINER ========== */

// $postPregContainer_h1_top: 60px;
// $postPregContainer_h1_top: 61px;
$postPregContainer_h1_top: 61 / 1300 * 100%;
$postPregContainer_p_top: 24 / 1300 * 100%;

$postPregNavContainer_width: 795 / 1300 * 100%;
$postPregNavContainer_top: 30 / 1300 * 100vw;
// $gridCol_gap: 45 / 795 * 100%;
$gridCol_gap: 45 / 1300 * 100vw;

$postPregNavItem_width: 165/1300 * 100vw;

.postPregContainer {
	// border: 02px solid #FF0000 !important;

	// opacity: 0.5;
	// opacity: $test_opacity;
	// mix-blend-mode: $test_blend;

	// color: blue;

	background: $panel;

	letter-spacing: 2px;
	text-align: center;

	// width: inherit;
	// max-width: inherit;
	// height: 465px;
	height: 465px / $body_height * 100%;

	margin: 0 auto;
	padding: 0;

	overflow: auto;

	h1 {
		// border: 01px solid #00FF00 !important;
	
		font-family: Helvetica, Arial, sans-serif;
		font-weight: 100;
		// font-size: 3.125em;
		// line-height: 0.625em;
		// letter-spacing: 5px;
		font-size: 4vw;
		line-height: 2.75vw;
		letter-spacing: 0.2875vw;

		text-transform: uppercase;
	
		width: inherit;
		// height: 70px;
	
		// margin: 60px auto 0 auto;
		margin: $postPregContainer_h1_top auto 0 auto;
		padding: 0;
	
		span {
			font-weight: 900;
		}

		// @media #{$desktop_n_up} {
			// font-size: 3.125em;
			// line-height: 0.65em;
			// letter-spacing: 5px;
		// }
	}

	h2 {
		// border: 02px solid #0000FF !important;

		// opacity: $test_opacity;
		// mix-blend-mode: $test_blend;

		display: none;
		// display: initial;

		font-size: 3.5vw !important;
		text-transform: uppercase;

		height: 2.5% !important;

		margin-top: 8.75%;

		width: 100% !important;

		// position: relative;
		// top: -0.4%;
	}

	p {
		// border: 01px solid #00ff00 !important;

		color: black;

		font-size: 0.875em;
		line-height: 1.4875em;
		letter-spacing: 0.025vw;

		width: 31.25%;
		// width: $postPregContainer_p_width;

		margin: $postPregContainer_p_top auto 0 auto;
		padding: 0;

		// @media #{$desktop_n_up} {
			// letter-spacing: 0.4625px;
			// // width: 31.25%;
			// margin: 30px auto 0 auto;
		// }
	}

	button {
		display: none;

		border: 1px solid $nav_hover;

		font-weight: normal;
		font-size: 4vw;

		width: 92.5%;

		margin: 7% 0;
		padding: 3.75% 0;
	}

	.postPregNavContainer {
		// border: 01px solid #FF0000 !important;

		font-weight: 900;
		font-size: 0.875em;
		line-height: 3em;
		letter-spacing: 1px;
		text-align: center;
		text-transform: uppercase;

		// width: 795/1300;
		// width: 61.153846153846154%;
		// width: 65%;
		width: $postPregNavContainer_width;

		// margin: inherit;
		// margin: 27px auto 0 auto;
		margin: $postPregNavContainer_top auto 0 auto;
		padding: inherit;

		display: grid;
		// grid: 20px / auto auto auto auto;
		grid-template-columns: auto auto auto auto;
		grid-row-gap: 3px;
		grid-column-gap: $gridCol_gap;

		.postPregNavItem {
			// border: 01px solid #FF0000 !important;

			// width: 165px;
			width: $postPregNavItem_width;

			// margin: 0 auto;
			// margin: 0;

			// @media #{$desktop_n_up} {
				// width: 165px;
			// }
		}

		img {
			width: 100%;
			height: auto;
		}

		// @media #{$desktop_n_up} {
			// margin: 27px auto 0 auto;

			// grid-column-gap: 45px;
		// }
	}

	.postPregNavContainer_m {
		// border: 02px solid #FF0000 !important;
		display: none;

		font-size: 4vw;

		text-transform: uppercase;

		width: 85%;
		height: 52.5%;

		// margin: 0 auto;
		margin: -4% auto 0 auto;

		// display: grid;
		grid-template-columns: auto auto;

		.postPregNavItem_m {
			width: 195/640 * 100vw;

			margin: 0 auto;

			img {
				width: 100%;
				height: auto;
			}
		}
	}
}

// @media #{$mobile} {
	// .postPregContainer {
	// 	// border: 02px solid #FF0000 !important;

	// 	// opacity: 0.5;
	// 	// opacity: $test_opacity;
	// 	// mix-blend-mode: $test_blend;

	// 	height: 1005/640 * 100vw;

	// 	h1 {
	// 		// border: 02px solid #0000FF !important;

	// 		// opacity: $test_opacity;
	// 		// mix-blend-mode: $test_blend;

	// 		font-size: 10vw !important;
	// 		line-height: 9.5vw !important;
	// 		letter-spacing: 1vw !important;
	// 		margin-top: -4% !important;

	// 		width: 100%;
	// 	}

	// 	h2 {
	// 		// visibility: visible;
	// 		display: block;
	// 	}

	// 	p {
	// 		// border: 02px solid #0000FF !important;

	// 		// opacity: $test_opacity;
	// 		// mix-blend-mode: $test_blend;

	// 		font-size: 3.5vw;
	// 		line-height: 4.125vw;
	// 		letter-spacing: 0.14vw;

	// 		width: 82.5%;
	// 		margin-top: 2.9375%;
	// 	}

	// 	button {
	// 		// visibility: visible;
	// 		display: initial;
	// 	}

	// 	.postPregNavContainer {
	// 		// border: 02px solid #FF0000 !important;
	// 		display: none;
	// 	}

	// 	.postPregNavContainer_m {
	// 		// border: 02px solid #FF0000 !important;
	// 		// display: initial;
	// 		display: grid;
	// 	}
	// }
// }


/* ========== BLOG CONTAINER ========== */

$blogContainer_h1_top: 57/1300 * 100%;
$blogContainer_p_top: 22/1300 * 100%;

// $blogBtn_top: 27/1300 * 100vw;
$blogBtn_top: 20/1300 * 100vw;
$blogBtn_padding: 10/1300 * 100vw;

.blogContainer {
	// border: 02px solid #FF0000 !important;

	// opacity: $test_opacity;
	// mix-blend-mode: $test_blend;

	// color: blue;

	background: white;

	letter-spacing: 2px;
	text-align: center;

	// width: inherit;
	// max-width: inherit;
	// height: 782px;
	height: 782px / $body_height * 100%;

	margin: 0 auto;
	padding: 0;

	overflow: auto;

	h1 {
		// border: 01px solid #00FF00 !important;

		font-family: Helvetica, Arial, sans-serif;
		font-weight: 100;
		// font-size: 3.125em;
		// line-height: 1em;
		// letter-spacing: 5px;
		font-size: 4vw;
		line-height: 3.9vw;
		letter-spacing: 0.225vw;

		text-transform: uppercase;

		width: inherit;
		// height: 70px;

		margin: $blogContainer_h1_top auto 0 auto;
		padding: 0;

		span {
			font-weight: 900;
		}

		// @media #{$desktop_n_up} {
			// font-size: 3.125em;
			// line-height: 1em;
			// letter-spacing: 4px;

			// margin: 56px auto 0 auto;
		// }
	}

	p {
		// border: 01px solid #00ff00 !important;

		color: black;

		font-size: 1.0625vw;
		// line-height: 0.25vw;
		line-height: 1vw;
		letter-spacing: 0.0375vw;

		width: 40%;

		// margin: 20px auto 0 auto;
		margin: $blogContainer_p_top auto 0 auto;
		padding: 0;

		// @media #{$desktop_n_up} {
			// font-size: 0.875em;
			// line-height: 1.25em;
			// letter-spacing: 0.4625px;
		// }
	}

	.blogEntryContainer {
		// border: 01px solid #00FF00 !important;

		// background: black;
		background: $panel;

		// width: 808/1300;
		// height: 490/782;
		width: 62.153846153846154%;
		height: 62.659846547314578%;
		// height: auto;

		margin: 23px auto 0 auto;
		padding: 0;
		// padding: 8.163265306122449% 4.331683168316832%;

		.blogImage {
			// border: 01px solid #FFFF00 !important;

			background: #9a9a9a;

			// width: 380/808;
			// height: 410/490;
			width: 47.02970297029703%;
			height: 83.673469387755102%;

			// margin: 8.163265306122449% 0 0 4.331683168316832%;
			margin: 5% 0 0 4.331683168316832%;

			// position: relative;
			// top: 8.163265306122449%;
			// left: 4.331683168316832%;

			float: left;
			// display: inline-block;
		}

		.blogCopy {
			// border: 01px solid #FFFF00 !important;

			text-align: left;

			// // width: 280/808;
			// width: 34.653465346534653%;
			// width: 230/808;
			width: 28.465346534653465%;
			// width: 29%;
			height: 50%;

			// margin: 117/490 0 0 479/808;
			// margin: 23.877551020408163% 0 0 59.282178217821782%;
			margin: 14.625% 0 0 -4%;

			// float: right;
			display: inline-block;

			// @media #{$desktop_n_up} {
				// margin: 14.5% 0 0 -4%;
			// }

			h2 {
				// border: 01px solid #00FF00 !important;
			
				font-weight: 900;
				font-size: 1vw;
				letter-spacing: 0.1875vw;
				text-transform: uppercase;

				margin: 0;
				padding: 0;

				// @media #{$desktop_n_up} {
					// font-size: 0.875em;
					// letter-spacing: 0.125em;
				// }
			}

			// p {
			.p_desktop {
				// color: white;

				line-height: 1.60427vw;

				width: 100%;

				margin: 3.75% 0 0 0;
				padding: 0;

				// @media #{$desktop_n_up} {
					// line-height: 1.45em;
					// margin: 12px 0 0 0;
				// }
			}

			// p {
			.p_mobile {
				// border: 02px solid #FF0000 !important;
				display: none;
	
				font-weight: normal;
				font-size: 4.125vw;
				line-height: 4.875vw;
				letter-spacing: 0.25vw;

				text-align: center;

				width: 90%;

				margin: 0 auto;
				margin: 92.5% auto 0 auto;
			}
	
			button {
				background: $panel;

				// width: 192px;
				// width: 70.588235294117647%;
				width: 82.5%;

				margin: $blogBtn_top auto;
				padding: $blogBtn_padding 0;

				&:hover {
					background: $nav_hover;
				}

				// @media #{$desktop_n_up} {
					// margin: 25px auto;
					// padding: 10px 0;
				// }
			}
		}
	}
}

// @media #{$mobile} {
	// .blogContainer {
	// 	// border: 02px solid #FF0000 !important;

	// 	// opacity: 0.5;
	// 	// opacity: $test_opacity;
	// 	// mix-blend-mode: $test_blend;

	// 	height: 1240/640 * 100vw;
	// 	// margin-top: 200%;

	// 	h1 {
	// 		// border: 02px solid #FF0000 !important;

	// 		font-size: 10vw;
	// 		line-height: 9.25vw;
	// 		letter-spacing: 1vw;

	// 		margin-top: 7.5%;
	// 	}

	// 	p {
	// 		// border: 02px solid #FF0000 !important;

	// 		font-size: 3.5vw;
	// 		line-height: 4.25vw;
	// 		letter-spacing: 0.25vw;

	// 		width: 75%;

	// 		margin-top: 3%;
	// 	}

	// 	.blogEntryContainer {
	// 		// border: 02px solid #FF0000 !important;

	// 		width: 100%;
	// 		height: 910/640 * 100vw;

	// 		.blogImage {
	// 			// border: 02px solid #FF0000 !important;

	// 			// width: 50%;
	// 			// height: 50%;
	// 			width: 484/640 * 100vw;
	// 			height: 545/640 * 100vw;

	// 			// margin: 0 auto !important;
	// 			margin: 16.25% 12.1875%;
	// 		}

	// 		.blogCopy {
	// 			// border: 02px solid #FF0000 !important;

	// 			width: 95%;
	// 			height: auto;

	// 			// margin: 0 auto !important;
	// 			margin: -115% auto 0 auto !important;

	// 			h2 {
	// 				// border: 02px solid #FF0000 !important;

	// 				font-weight: 900;
	// 				font-size: 4vw;
	// 				line-height: 14vw;
	// 				letter-spacing: 0.5vw;

	// 				text-align: center;

	// 				margin: 0 auto !important;
	// 				// margin: -120% auto 0 auto;
	// 			}

	// 			.p_desktop {
	// 				// color: white;
	// 				display: none;
	// 			}

	// 			.p_mobile {
	// 				// color: white;
	// 				display: block;
	// 			}

	// 			button {
	// 				border: 1px solid $nav_hover;

	// 				font-weight: normal;
	// 				font-size: 4vw;

	// 				width: 97.5%;

	// 				margin: 2.5% 1.5% 0 1%;
	// 				padding: 3.75% 0;
	// 			}
	// 		}
	// 	}
	// }
// }

